<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<configSections>
		<section name="RewriterConfig" type="URLRewriter.Config.RewriterConfigSerializerSectionHandler, URLRewriter"/>
	</configSections>
	<appSettings>
		<!--主数据库 服务器 -->
		<add key="DataBaseServer" value="."/>
		<!--主数据库名称 -->
		<add key="DataBaseName" value="gitkubaocc"/>
		<!--主数据库用户 -->
		<add key="DataBaseUid" value="sa"/>
		<!--主数据库密码-->
		<add key="DataBasePwd" value="kb1024sa"/>
		<!--书城数据库服务器-->
		<add key="DataBaseServerBook" value="."/>
		<!--<add key="DataBaseServer" value="58.64.200.66" />
    --><!--主数据库用户 --><!--
    <add key="DataBaseUid" value="sqkubaoffs_998f_fbbb" />
    --><!--主数据库密码 --><!--
    <add key="DataBasePwd" value="vvfds48vx78fsefh_wv243_4vcv7xvjkh5fsdff_r" />-->
		<!--书城数据库名称 -->
		<add key="DataBaseNameBook" value="kbook"/>
		<!--书城数据库用户 -->
		<add key="DataBaseUidBook" value="sa"/>
		<!--书城数据库密码 -->
		<add key="DataBasePwdBook" value="kb1024sa"/>
		<!--后台目录名 -->
		<add key="AdminPath" value="Manage"/>
		<!--界面识别变量 -->
		<add key="VE" value="ve"/>
		<!--身份识别变量 -->
		<add key="SID" value="u"/>
		<add key="cn.com.ips.newpay.WSOrderQuery" value="http://newpay.ips.com.cn/psfp-entry/services/order"/>
	<add key="Mesege.Soap57Provider" value="http://inter.smswang.net:7801/sms"/>
	</appSettings>
	<RewriterConfig>
		<Rules>
			<!-- Rules for Forum Content Displayer -->
			<RewriterRule>
				<LookFor>~/Reg-(\d+)\.aspx</LookFor>
				<SendTo>~/Reg.aspx?rd=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/Forum-(\d+)\.aspx</LookFor>
				<SendTo>~/bbs/forum.aspx?forumid=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/uinfo-(.*)\.aspx</LookFor>
				<SendTo>~/bbs/uinfo.aspx?uid=$1</SendTo>
			</RewriterRule>
		</Rules>
	</RewriterConfig>
	<location path="." allowOverride="true" inheritInChildApplications="false">
		<system.web>
			<compilation debug="true" defaultLanguage="c#" optimizeCompilations="true">
			</compilation>
			<authentication mode="Windows"/>
			<customErrors mode="Off"/>
			<!--<customErrors mode="On">
      <error statusCode="403" redirect="default.aspx" />
      <error statusCode="404" redirect="default.aspx" />
    </customErrors>-->
			<httpRuntime maxRequestLength="102400" executionTimeout="120"/>
			<pages validateRequest="false"/>
			<healthMonitoring heartbeatInterval="0" enabled="true">
				<providers>
					<clear/>
					<add name="SqlWebEventProvider" type="BCW.Health.Providers.SqlWebEventProvider"/>
				</providers>
				<rules>
					<clear/>
					<add name="WebBaseError" eventName="WebBaseErrorEvent" provider="SqlWebEventProvider"/>
				</rules>
				<eventMappings>
					<clear/>
					<add name="WebBaseErrorEvent" type="System.Web.Management.WebBaseErrorEvent"/>
				</eventMappings>
			</healthMonitoring>
			<httpModules>
				<add type="URLRewriter.ModuleRewriter, URLRewriter" name="ModuleRewriter"/>
				<!--<add type="BCW.Common.DosAttackModule" name="DosAttackModule"/>-->
			</httpModules>
		</system.web>
	</location>
	<system.web>
		<sessionState cookieless="AutoDetect"/>
	</system.web>
</configuration>
