<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="bbs_game_MasterPage" %>
<asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
</asp:ContentPlaceHolder>
<%= BCW.Common.Utils.ForWordType(builder.ToString()) %>
