<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BCW.Mobile.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BCW.Mobile.Properties.Settings>
            <setting name="BCW_Mobile_net_smswang_inter_Soap57ProviderService"
                serializeAs="String">
                <value>http://inter.smswang.net:7801/sms</value>
            </setting>
            <setting name="BCW_Mobile_WebReference_Soap57ProviderService"
                serializeAs="String">
                <value>http://113.105.65.138:7801/sms</value>
            </setting>
        </BCW.Mobile.Properties.Settings>
    </applicationSettings>
</configuration>